@font-face {
    font-family: "comix regular";
    src: url(../font/COMI.TTF);
}

.modal {
    z-index: 2; /* au dessus du reste */
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    

    width: 1000px; /* largeur */
    height: 600px; /* hauteur */
    overflow: auto; /* barre de scroll si besoin */
    background-color: white; /* opaque */
    border: solid;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.5);
    border-radius: 0.6cm;
}

.sousmodale {
    position: absolute;
    margin: auto;
    width: 990px;
    height: 440px;
    bottom: 10px;
    overflow: auto;
    vertical-align: middle;
    text-align: center;
}

.closebutton{
    position: absolute;
    right: 45px;
    top: 10px;
    border-radius: 50%;
    padding:1em 1.2em;
    font-weight: bold;
    font-size: large;
    color: red;
    box-shadow: 0 5px 10px rgba(119, 0, 0, 0.3);
    cursor: pointer;
    background-color: white;
    border: none;
}
.closebutton:active{
    box-shadow: none;
}

.soustitre {
    font-weight: normal;
    font-style: italic;
    font-size:medium;
}
.managergrid {
    display: grid;
    grid-template-columns: 30% auto 20%;
    align-items: center;
    position: relative;
    background-color: rgba(245, 245, 220, 0.7);
    border-radius: 30% 70% / 30% 70%;
    background-size: 10%;
    margin: 2%;
}

.logo {
    max-height: 200px;
    width: auto;
}
.managername {
    font-size: large;
    font-weight: bold;
}
.buybutton {
    display:inline-block;
    padding:0.7em 2em;
    margin:0 0.3em 0.3em 0;
    border-radius:50%;
    font-weight:bolder;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
    background-color: white;
    text-align:center;
    position:relative;
    font-family: comix regular;
    color: rgb(0, 0, 116);
    font-size: 1.1em;
}
.buybutton:disabled {
    background-color: white !important;
    cursor: default;
    color: rgb(150, 150, 150);
}
.buybutton:active {
    box-shadow: none;
}
.buybutton:hover {
    background-color: beige;
}

.unlocksgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}
.unlock {
    margin: 5px;
    margin-bottom: 10px;
}
.unlocklogo {
    max-height: 100px;
    width: auto;
}
.unlockbutton {
    display:inline-block;
    padding:0.4em 2em;
    margin:0 2em 0 2em;
    border-radius:50%;
    font-weight:bolder;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border: none;
    background-color: white;
    text-align:center;
    position:relative;
    font-family: comix regular;
    /* font-size: 1.1em; */
}
.unlockbutton:active {
    box-shadow: none;
}
.unlockbutton:hover {
    background-color: beige;
}

.upgradegrid {
    display: grid;
    grid-template-columns: 30% auto 20%;
    align-items: center;
    background-color: rgba(245, 245, 220, 0.7);
    border-radius: 30% 70% / 30% 70%;
    background-size: 10%;
    margin: 2%; 
}

.unlockfield:disabled {
    background-color: rgb(170, 170, 170);
    color: rgb(56, 56, 56);
}