/* .surmodale {
    position: absolute;
    margin: auto;
    margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    width:1000px;
    height: 600px;
} */
.modal {
    z-index: 2; /* au dessus du reste */
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
    

    width: 1000px; /* largeur */
    height: 600px; /* hauteur */
    overflow: auto; /* barre de scroll si besoin */
    background-color: white; /* opaque */
    border: solid;
    /* padding-top:10%; a 10% du haut */
    /* padding-left:20%; a 20% de la gauche */
}

.sousmodale {
    position: absolute;
    margin: auto;
    width: 950px;
    height: 400px;
    overflow: auto;
}

.closebutton{
    position: absolute;
    right: 45px;
    top: 10px;
    border-radius: 50%;
    padding:1em 1.2em;
    font-weight: bold;
    font-size: large;
}

.soustitre {
    font-weight: normal;
    font-style: italic;
}
.managergrid {
    display: grid;
    grid-template-columns: 30% auto 20%;
    align-items: center;
}

.logo {
    max-height: 200px;
    width: auto;
}
.managername {
    font-size: large;
    font-weight: bold;
}
.buybutton {
    display:inline-block;
    padding:0.7em 1.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    background-color:rgb(255, 93, 93);
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
    text-align:center;
    position:relative;
}
.buybutton:disabled {
    background-color: rgb(175, 175, 175);
}
.buybutton:active {
    box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.unlocksgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.unlock {
    margin: 5px;
    margin-bottom: 10px;
}
.unlocklogo {
    max-height: 100px;
    width: auto;
}

.upgradegrid {
    display: grid;
    grid-template-columns: 30% auto 20%;
    align-items: center;
}