.product {
    display: grid;
    grid-template-columns: 30% auto auto;
    grid-gap: 5px;
}

.productInfo {
    grid-column: 1;
    grid-row: 1/6;
    display: grid;
    grid-template-columns: subgrid;
    grid-gap: 5px;
    position: relative;
    text-align: center;
}

.productLogo {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    grid-column: 1;
    grid-row: 1/5;
}

.qte {
    position: absolute;
    bottom: -10%;
    grid-column: 1;
    grid-row: 4;
    background-color: gray;
    border-radius: 20px;
    padding: 5px 30px 5px 30px;
    width: auto;
    height: auto;
}

.revenu {
    grid-column: 2/4;
    grid-row: 3;
}

.prixStand {
    grid-column: 2;
    grid-row: 4;
}

.temps {
    grid-column: 3;
    grid-row: 4;
}

.progressBar {
    grid-column: 2/4;
    grid-row: 2;
}